@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600&display=swap);

/* auth screen */
.gray-black-gradient {
  background: linear-gradient(215deg, #1c1c25, #38405a) !important;
  cursor: pointer;
}

.gray-black-gradient:hover {
  background: linear-gradient(280deg, #1c1c25, #38405a) !important;
}

.gray-purple-gradient {
  background: linear-gradient(215deg, #2c2a4a, #4f518c) !important;
  cursor: pointer;
  border: 2px solid #979bde;
}

.icon-btn {
  background: none #1c1c25 !important;
  border-radius: 25px;
}

.purple-button-gradient {
  background: linear-gradient(to right, #4b4ccc, #9c9df3) !important;
  color: #fff !important;
  border-radius: 25px !important;
}

.purple-button-gradient:hover {
  background: linear-gradient(to left, #4b4ccc, #9c9df3) !important;
}

.blur {
  box-shadow: inset 0 0 2000px rgba(90, 90, 107, 0.5);
  opacity: 1;
  position: absolute;
  background: inherit;
}

/* dashboard */
.calendar{
  background-color: #29293E !important;
  padding: 4px 15px;
  color:white;
  border-radius: 25px;
  justify-content: center;
  border:none !important;
  font-size: small;
  font-family: 'Manrope';
}

.react-calendar__navigation{
  margin-bottom: 0 !important;
}

.react-calendar__month-view__weekdays__weekday abbr{
  color:#979bde;
  text-decoration: none !important;
}

.react-calendar__month-view__days, .react-calendar__month-view__days__day--weekend, .react-calendar__navigation__label{
  color: #D6D6FE !important;
 }
.react-calendar__month-view__days__day--neighboringMonth{
  color: #A1A5B0 !important;
}

.react-calendar__tile--now, 
.react-calendar__tile:enabled:hover, 
.react-calendar__tile:focus, 
.react-calendar__navigation__arrow:hover, 
.react-calendar__navigation__arrow:focus, 
.react-calendar__navigation__label:hover,
.react-calendar__navigation__label:focus{
  background-color: #38405a !important;
  color: #D6D6FE !important;
  border-radius: 12px;
}

.react-calendar__tile{
  padding:6.47px 10px !important;
}

.react-calendar__tile--active{
  background-color: #D6D6FE !important;
  border-radius: 12px;
  color: #38405a !important;
}

.react-grid-item{
  background-color: #D6D6FE !important;
  color:#1c1c25
}


@media only screen and (min-width: 1450px) {
  .notes_grid {
    margin-left:2.5% !important;
    margin-right:2% !important;
  }
}
@media only screen and (min-width: 1600px) {
  .notes_grid {
    margin-left:15% !important;
    margin-right:15% !important;
  }
}

.overlay-bg{
  backdrop-filter: blur(10px);
}